<script>
    var columns = []

    var filterTable = () => {
        var filterColumns = document.getElementById("searchColumn").value
        var trs = document.querySelectorAll(`#inventoryTbl tbody tr`)
        var filter = document.getElementById("searchInput").value
        var regex = new RegExp(filter, 'i')

        var find = (childrenArr) => {
            return regex.test(childrenArr.innerHTML)? true : false
        } 

        var setTr = ({ style, children }) => {
            style.display = find(children[filterColumns]) ? '' : 'none'
        }
    
        trs.forEach(setTr)
    }
</script>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="text-end"> <!-- New column for the button -->
            <a href="/product/add" class="btn btn-success" role="button">
                <i class="fas fa-plus-circle"></i> Add New
            </a>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <select id="searchColumn">
                <option value="0">Name</option>
                <option value="1">Price</option>
                <option value="2">Quantity</option>
                <option value="3">UOM</option>
                <option value="4">Product Expiry</option>
                <option value="5">Created At</option>
                <option value="6">Updated At</option>
            </select>
            <input type="text" id="searchInput" placeholder="Search..." onkeyup="filterTable()">

            <table id="inventoryTbl" class="table table-bordered table-striped table-hover sortable">
                
                <!-- Header Row-->
                <tr class="table-dark">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Price</th>
                    <th class="text-center col-2">Quantity</th>
                    <th class="text-center col-2">UOM</th>
                    <th class="text-center col-2">Product Expiry</th>
                    <th class="text-center col-2">Created At</th>
                    <th class="text-center col-2">Updated At</th>                    
                    
                    <!-- Add other employee-related header columns as needed -->
                </tr>
    
                <!-- Repeatable Template Row -->
                <% for(let count=0; count < product.length; count++) { %>
                    <tr>
                        <td class="text-center col-2">
                            <%= product[count].name %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].price %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].quantity %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].unitOfMeasurement.unitName %>
                        </td>
                        <td class="text-center col-2">
                            <%= `${product[count].expiry.getFullYear()}-${(product[count].expiry.getMonth() + 1).toString().padStart(2, '0')}-${product[count].expiry.getDate().toString().padStart(2, '0')}` %>
                        </td>
                        <td class="text-center col-2">
                            <%= `${product[count].createdAt.getFullYear()}-${(product[count].createdAt.getMonth() + 1).toString().padStart(2, '0')}-${product[count].createdAt.getDate().toString().padStart(2, '0')}` %>
                        </td>
                        <td class="text-center col-2">
                            <%= `${product[count].updatedAt.getFullYear()}-${(product[count].updatedAt.getMonth() + 1).toString().padStart(2, '0')}-${product[count].updatedAt.getDate().toString().padStart(2, '0')}` %>
                        </td>
                        
                        <!-- Add other employee-related columns as needed -->
                        <td class="text-center col-1">
                            <a class="btn btn-warning" href="/product/edit/<%= product[count]._id %>">
                                Edit
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a class="btn btn-danger" href="/product/delete/<%= product[count]._id %>">
                                Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
