<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="text-end"> <!-- New column for the button -->
            <a href="/product/add" class="btn btn-success" role="button">
                <i class="fas fa-plus-circle"></i> Add New
            </a>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <table class="table table-bordered table-striped table-hover">
                
                <!-- Header Row-->
                <tr class="table-dark">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Price</th>
                    <th class="text-center col-2">Quantity</th>
                    <th class="text-center col-2">Product Expiry</th>
                    <th class="text-center col-2">Created At</th>
                    <th class="text-center col-2">Updated At</th>                    
                    
                    <!-- Add other employee-related header columns as needed -->
                </tr>
    
                <!-- Repeatable Template Row -->
                <% for(let count=0; count < product.length; count++) { %>
                    <tr>
                        <td class="text-center col-2">
                            <%= product[count].name %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].price %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].quantity %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].expiry %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].createdAt %>
                        </td>
                        <td class="text-center col-2">
                            <%= product[count].updatedAt %>
                        </td>
                        
                        <!-- Add other employee-related columns as needed -->
                        <td class="text-center col-1">
                            <a class="btn btn-warning" href="/product/edit/<%= product[count]._id %>">
                                Edit
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a class="btn btn-danger" href="/product/delete/<%= product[count]._id %>">
                                Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
