<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-link fa-lg"></i> BakerBuddy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= (page == 'home') ? 'active' : ''; %>" aria-current="page" href="/home"><i class="fa-solid fa-house-signal fa-lg"></i> Home</a>
          </li>
            <% if (user) { %>
                    <% console.log('User:', user); %>
                    <% if (user.role == 'Admin') { %>
                        <li class="nav-item">
                          <a class="nav-link <%= (page == 'employees/list') ? 'active' : ''; %>" aria-current="page" href="/employees/list"><i class="fa-solid fa-book fa-lg"></i> Employee Manager</a>
                        </li>
                    <% } %>
                    
                    <li class="nav-item">
                      <a class="nav-link <%= (page == 'product/list') ? 'active' : ''; %>" aria-current="page" href="/product/list"><i class="fa-solid fa-book fa-lg"></i> Inventory</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link <%= (page == 'recipe/list') ? 'active' : ''; %>" aria-current="page" href="/recipe/list"><i class="fa-solid fa-book fa-lg"></i> Recipe</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link <%= (page == 'conversion/list') ? 'active' : ''; %>" aria-current="page" href="/conversion/list"><i class="fa-solid fa-book fa-lg"></i> Conversion</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.displayName %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link <%= (page == 'auth/login') ? 'active' : ''; %>" aria-current="page" href="/auth/login">Login</a>
                    </li>
                <% } %>
          
        </ul>
      </div>
    </div>
  </nav>