<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="productSelectField">Finish Product</label>
                    <input type="text" class="form-control" id="productUomTextField" placeholder="<%= recipe.product.name %>" name="product" readonly >
                </div>
                
                <div class="form-group">
                    <label for="productQuantityTextField">Quantity</label>
                    <input type="number" class="form-control"
                        id="productQuantityTextField"
                        placeholder="Enter the Product Quantity"
                        name="quantity" 
                        value="<%= recipe.outputQuantity %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="productUomSelectField">UOM</label>
                    <select class="form-control" id="productUomSelectField" name="uom" required>
                        <option value="<%= recipe.unitOfMeasurement._id %>"><%= recipe.unitOfMeasurement.unitName %></option>
                        <% conversion.forEach(conv => { %>
                            <% if (!conv._id.equals(recipe.unitOfMeasurement._id)) { %>
                                <option value="<%= conv._id %>"><%= conv.unitName %></option>
                            <% } %>
                        <% }); %>
                    </select>
                </div>

                <br>
                
                <div class="form-group">
                    <label for="IngredientAmountTextField">Amount of Ingredient</label>
                    <input type="text" class="form-control" id="IngredientAmountTextField" value="<%= recipe.ingredients.length %>" name="amountOfIngredient" readonly >
                </div>

                <br>
                <% for(let count=0; count < recipe.ingredients.length; count++) { %>
                    <div class="form-group">
                        <label for="Ingredient<%= count+1 %>SelectField">Ingredient <%= count+1 %></label>
                        <select class="form-control" id="Ingredient<%= count+1 %>SelectField" name="Ingredient<%= count+1 %>" required>
                            <option value="<%= recipe.ingredients[count].ingredientID._id %>"><%= recipe.ingredients[count].ingredientID.name %></option>
                            <% product.forEach(prod => { %>
                                <% if (!prod._id.equals(recipe.ingredients[count].ingredientID._id)) { %>
                                    <option value="<%= prod._id %>"><%= prod.name %></option>
                                <% } %>
                            <% }); %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Ingredient<%= count+1 %>QuantityTextField">Quantity</label>
                        <input type="number" class="form-control"
                            id="Ingredient<%= count+1 %>QuantityTextField"
                            placeholder="Enter the Ingredient Quantity"
                            name="Ingredient<%= count+1 %>Quantity" 
                            value="<%= recipe.ingredients[count].ingredientQuantity %>"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="Ingredient<%= count+1 %>UomSelectField">UOM</label>
                        <select class="form-control" id="Ingredient<%= count+1 %>UomSelectField" name="Ingredient<%= count+1 %>Uom" required>
                            <option value="<%= recipe.ingredients[count].ingredientUOM._id %>"><%= recipe.ingredients[count].ingredientUOM.unitName %></option>
                            <% conversion.forEach(conv => { %>
                                <% if (!conv._id.equals(recipe.ingredients[count].ingredientUOM._id)) { %>
                                    <option value="<%= conv._id %>"><%= conv.unitName %></option>
                                <% } %>
                            <% }); %>
                        </select>
                    </div>
                    <br>
                <% } %>

                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/recipe/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Back</a>
            </form>
        </div>
    </div>
</div>
